/* 전체 선택자 */
*{
    /* color: white;
    font-size: 25px;
    background-color: gray; */
}
/* 태그 선택자 */
/* div{
    background-color: aqua;
} */
/* 클래스 선택자는 "." 붙는다 */
.orange{
    color: orange;
}
.bg-red{
    background-color: red;
}
/* id 선택자 */
#red{
    color: red;
}
.span1{
    background-color: red;
}
#first{
    background-color: blue;
}
.second{
    background-color: green;
}

/* div 하위 선택자  */
div .apple{
    /* color: rgb(145, 21, 21); */
}

/* 자식 선택자 */
div > .apple{
    /* color: rgb(128, 11, 11); */
}
/* 인접 형제 선택자 */
h1 ~ ul{
    font-size: 20px;
    color: blue;
}