/* 전체 선택자 */
*{
    color: white;
    font-size: 25px;
    background-color: gray;
}
/* 태그 선택자 */
div{
    background-color: aqua;
}
/* 클래스 선택자는 "." 붙는다 */
.orange{
    color: orange;
}
.bg-red{
    background-color: red;
}
/* id 선택자 */
#red{
    color: red;
}
.span1{
    background-color: red;
}
#first{
    background-color: blue;
}
.second{
    background-color: green;
}
