/* 웹폰트 불러오기-눈누 사이트 */
/* @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;900&display=swap');


/* 폰트 쓰는 단위 = px, em, rem, % */

:root{
    font-size: 16px;
}
.font-css{
    font-size: 1.5em;
    font-weight: 900;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
}

.parent{
    font-size: 50px;
}

.child-font{
    font-size: 1.5rem;
}

.width-css{
    background-color: blue;
    color: white;
    display: inline-block;
    width: 900px;
    /* height:;
    min-height: ;
    max-height: ;
    */
}

.border-css{
    border: 1px red solid;
    border-color: red;
    border-style: dashed;
    border-radius: 20px;

}

.circle {
    width: 100px;
    background-color: red;
    height: 100px;
    border-radius: 100px;
}

.margin-css{

    background-color: blue;
    border: 2px solid black;
    color: white;
    /* margin-left: 200px;
    margin-top: 300px; */
    /* 한번에 지정하기 */
    margin: 100px 20px 30px 50px;
    padding: 50px;

}

.box-css{
    background-color: purple;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 2px solid black;
}