<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- ++++ get 요청 +++ -->
    <h1>로그인</h1>
    <!-- form 전송은 클라이언트가 서버로 데이터를 보내는 방법중 하나 -->
    <!-- action : 요청을 보낼 주소(제 서버에 보낸다는 가정하에 도메인을 뗀 나머지 주소) -->
    <!-- ex) localhost:8000/get/test 라는 곳으로 보내고 싶다면 -->
    <!-- method : 어떤 방식의 요청을 사용할지(post OR get) -->
    <!-- target="_blank" 새로운 창을 연다(굳이??)-->
    <form action="/get" target="_blank" method="get"> 
        <fieldset>
            <legend>로그인 정보</legend>
            <input type="text" name="login" />
            <input type="password" name="pw" />
        </fieldset>
                                            <!-- value의 맨과 label 의 맨을 일치시켜야 한다.!!! -->
        <input type="radio" name="gender" value="man" /><label for="man">남자</labe>
        <input type="radio" name="gender" value="woman" /><label for="woman" >여자</label>
        <!-- button의 type= submit 인 경우, 버튼을 감싸고 있는 form태그의 정보에 맞게 전송한다!!! -->
        <button type="submit">전송</button>
    </form>
    <script>
        console.dir(document.forms["login"][0])
        console.log(document.forms["login"])
        //document.getElementById("login");
    </script>
<!-- 회원가입 get 요청 -->
    <h1>회원가입</h1>
    <form action="/getTest" method="get">
        <input type="text" name="id" />
        <input type="password" name="pw" />
        <input type="text" name="email" />
        <input type="text" name="id" />
        <button type="submit">회원가입</button>
    </form>

    <!-- 회원가입 post 요청 -->
    <!-- <h1>회원가입</h1>
    <form action="/post" method="post">
        <input type="text" name="id" />
        <input type="password" name="pw" />
        <input type="text" name="email" />
        <input type="text" name="id" />
        <button type="submit">회원가입</button>
    </form> -->
    <h1>회원가입</h1>
    <form action="/post/ver2" method="post">
        <input type="text" name="id" />
        <input type="password" name="pw" />
        <input type="text" name="email" />
        <button type="submit">회원가입</button>
    </form>
</body>
</html>