<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileUpload</title>
</head>
<body>


    <h2>가장 기본적인 설정</h2>
    <!-- 일반 form 전송이용 해서 fileUpload하기 -->
    <!-- enctype: application/x-www-form-urlencoded -->
    <!-- 파일을 전송하려면  multipart/form-data-->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="userFile" /> 
        <br/>
        <input type="text" name="title" />
        <br />
        <button type="submit">업로드</button>
    </form>
    <!-- fetch를 이용한 동적 폼 타입전송의 content-type 지정 -->

    <h2>multer storage를 이용한 설정</h2>
    <form action="/upload/detail" method="post" enctype="multipart/form-data">
        <input type="file" name="userFile" /> 
        <br/>
        <input type="text" name="title" />
        <br />
        <button type="submit">업로드</button>
    </form>

</body>
</html>