<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>방명록</title>
</head>
<body>
    <form>
        <fieldset>
            <legend>방명록 등록</legend>
            <input type="text" name="username" />
            <br />
            <input type="text" name="comment" />
            <br />
            <button type="button" onclick="addVisitor()">등록</button>
        </fieldset>
    </form>
    <div>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>작성자</th>
                    <th>방명록</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i< data.length; i++) { %>
                    <tr>
                      <td><%= data[i].id %></td>
                      <td><%= data[i].username %></td>
                      <td><%= data[i].comment %></td>
                      <td><button type="button" onclick="">수정</button></td>
                      <td><button type="button" onclick="">삭제</button></td>
                    </tr>
                    <% } %>

            </tbody>


        </table>
    </div>

</body>
</html>