<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    
    <form action="/post/join" method="POST">
        <input type="text" name="id" pattern="^([a-z0-9]){5,13}$" title="영어소문자,숫자만 사용가능" required/>
        <input type="password" name="pw" id="pw" oninput="validCheckPw(this)" required />
        <input type="text" name="phone-num" pattern="^(\d{3}(\d{3,4})(\d{4})$" required/>
        <input type="text" name="gender" />
        <button type="submit">회원가입</button>
    </form>

    <script>
        function validCheckPw(el){
            const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/
            const value = el.value;
            const error = document.getElementById("pw");

            if(passwordRegex.test(value)){
                console.log("정규식 일치");
                error.innerHTML=""
            } else{
                error.innerHTML = "문자,대문자,숫자, 특수문자로 모두 한번이상 쓰여서 조합되게 쓰시오"
                console.log("정규식 불일치");
            }
        }

    </script>

</body>
</html>

