:root {
  --height-header: 80px;
}

* {
  box-sizing: border-box;
}
main {
  margin-top: var(--height-header);
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: var(--height-header);
  width: 100%;
  background-color: aqua;
  padding: 0 20px;
  top: 0px;
}

.Header > nav{
  display: flex;
}

.Header > nav >div {
  margin-left: 20px;
}