<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404NotFound</title>
</head>
<body>
    <h2>삐빅!! 404Error</h2>
    <div>미안. 해당 URL은 접근할 수 없는 주소다 다시 돌아가라~</div>
    <a href="/">HOME으로 ㄱㄱ</a>
</body>
</html>