/* BEM 네이밍 규칙 */
.FuncComponent__test-css--active {}



.test-css {
    background-color: yellow;
    font-size: 30px;
}

.wrapper{

    text-align: center;

}
.wrapper p{
    background-color: orange;
    
}

.Section__section{
    margin-bottom: 20px;
    border: 2px solid blue;
}

.Section__title{
    color: red;
}
.food{
    color: red;
}
.back {
    background-color: aqua;
}